
/* ===================共通====================== */

body {
    font-family: Toppan Bunkyu Midashi Mincho;
}

li {
    list-style: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ===================共通====================== */




/* ====================================-top============================================== */

#home {
    background-image: url(../assets/top-1.png);
    min-height: 100vh;
}

/* 大きな背景画像 */
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/* ==========================ナビ==================================== */

/* ナビ全体のレイアウト */
.page-header{
    display: flex;
    justify-content: space-between;
    background: #000;
    opacity: 0.7;
    line-height: 18px;
}


/* 文字の大きさ、色等細かい設定  */
.page-header a {
    color: #fff;
}

/* 左ロゴパーツの配置========== */

.nav-left{
    display: flex;
    /* border: 1px solid #ff3344; */
    align-items: center;
}

.logo-head {
    display: flex;
}

.logo-left {
    font-size: 14px;
    padding-right: 14px;
}

.logo-right{
    position: relative;
    top: -4px;
    font-size: 29px;
}

.logo-foot {
    margin-top: 4px;
    font-size: 10px;
}



/* あとで修正必要かも */
.wrapper {
    margin: 0 auto;
    padding: 0 4%;
    padding-top: 1%; 
}



/* 右ロゴパーツの配置========== */
.main-nav-right {
    display: flex;
    /* border: 1px solid #ff3344; */
    align-items: center;
}

.main-nav-right li {
    padding-left: 48px;
}

.menu{
    text-align: center;
}

.menu-head {
    font-size: 16px;
}

.menu-center {
    font-size: 16px;
    
}

.menu-foot {
    font-size: 10px;
    margin-top: 4px;
}


/* ==========================ナビ==================================== */


.home-content {
    /* position: relative; */
    /* top: -500px; */
    margin-top: 100px;
    text-align: center;
    color: red;
    /* margin-top: 150px; */
    /* border: 1px solid #000; */
}

.main-logo > img {
    width: 500px;
    border-style: none;
}


/* ====================================-top============================================== */





/* ====================================-main============================================== */

/* Logge-sectionの一番大きなか囲い */
.main-wrapper-Loge {
    padding-top: 70px;
    /* border: solid 1px blue; */
}

.primary-col{
    display: flex;
    justify-content: center;
}

.main-wrapper-info{
    margin-top: 40px;
    border: solid 1px blue;
}

.main-wrapper-info > p {
    text-align: center;
}

.primary-col-left {
    width: 500px;
    border: solid 1px blue;
}


.section-title {
    border: solid 1px blue;
    margin-left: 140px;
}

.deco {
    display: inline-block;
    transform: rotate(270deg);
}

.deco > p {
    font-size: 140px;
    color: #E2E2E2;
    z-index: 0;
}


h2 {
    text-shadow: 2px 2px 1px #999999;
    font-weight: normal;
}


/* 修正必要 */
.primary-col-left button {
    align-items: center;
}

.primary-col-left > p {
    font-size: 20px;
    /* text-align: center; */
}

.primary-col-right img{
    width: 498px;
    height: 276px;

}



/* ==========================Lodge==================================== */


.main-wrapper-Loge {
    margin-top: 80px;
    background: #F8F8F8;
}


.container-pic{
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: repeat(5, 200px);
    margin-top: 70px;
    margin-left: 140px;
}


.grid img{
    width: 200px;
    height: 200px;
}

.primary-col-left {
    background: #fff;
}

.primary-col-left > .about-loge{
    font-size: 16px;
}

.primary-col-left > p {
    color: #000000;
}






/* ==========================Lodge==================================== */




/* ====================================-main============================================== */
